<!doctype html>
<html ng-app="dashboardApp">

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/affix.css" />
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <!-- endbuild -->
</head>

<body style="padding-top: 50px;">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PdC 4 - Audit de base de donnée</a>
        </div>
        <ul class="nav navbar-nav">
            <li data-match-route="/general">
                <a href="#/general">Cartographie générale</a>
            </li>
            <li class="dropdown" data-match-route="/specific" ng-controller="SelectInstanceCtrl">
                <a class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span ng-bind="getLabel()"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="i in instances">
                        <a href="#/specific" ng-click="select(i)" ng-class="{active:selected(i)}">{{i.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://bitbucket.org/pdc4/pdc4-core" target="_blank">Voir le dépôt GIT</a>
            </li>
        </ul>
    </div>
    <!-- Add your site or application content here -->
    <div class="container">

        <div ng-view></div>


    </div>

    <div class="footer well">
        <strong>Groupe 2 :</strong>
        <ul class="list-inline">
            <li>Florent BOISSELIER</li>
            <li>Thomas BOUCHACOT</li>
            <li>Yannick FAULA</li>
            <li>Grégory MARTIN</li>
        </ul>
    </div>


    <!-- build:js({.,app}) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <!-- endbower -->
    <script src="bower_components/highcharts/modules/solid-gauge.src.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/dataQuality.js"></script>
    <script src="scripts/directives/panel.js"></script>
    <script src="scripts/controllers/panel.js"></script>
    <script src="scripts/controllers/row.js"></script>
    <script src="scripts/controllers/note.js"></script>
    <script src="scripts/services/api.js"></script>
    <script src="scripts/services/cartography.js"></script>
    <script src="scripts/services/generalCartography.js"></script>
    <script src="scripts/services/physicLogic.js"></script>
    <script src="scripts/services/labels.js"></script>
    <script src="scripts/controllers/specific.js"></script>
    <script src="scripts/controllers/general.js"></script>
    <script src="scripts/controllers/selectinstance.js"></script>
    <!-- endbuild -->

</body>

</html>
