<div class="col-md-{{indicator.width}}">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{indicator.title}}</h3>
        </div>

        <div class="panel-body" ng-if="indicator.chartConfig">
            <highchart config="indicator.chartConfig"></highchart>
        </div>

        <table class="table" ng-if="indicator.table">
            <thead>
                <tr>
                    <th ng-click="orderBy(header.key, !reverse)" ng-style="{'cursor':'pointer'}" ng-repeat="header in indicator.table.head | orderBy:'order'" class="col-md-{{header.width}}">
                        {{header.text}}
                        <small class="glyphicon glyphicon-sort"></small>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in indicator.table.body | orderBy:orderFunc:reverse">
                    <td ng-repeat="header in indicator.table.head | orderBy:'order'" class="col-md-{{header.width}}">
                        <span ng-if="isArray(row[header.key])" ng-controller="RowCtrl">
                            <a ng-style="{'cursor':'pointer'}" bs-tooltip="tooltip" placement="right">{{ text }}</a>
                        </span>
                        <span ng-if="!isArray(row[header.key])">
                            <!-- {{row[header.key]}} -->
                            {{getValue(row, header)}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="panel-footer" ng-show="indicator.select">
            <button type="button" class="btn btn-default" ng-model="indicator.routeParams.type" data-html="1" ng-options="choice.value as choice.label for choice in indicator.selectTopBottom" bs-select> </button>
            <button type="button" class="btn btn-default" ng-model="indicator.routeParams.nb" data-html="1" ng-options="choice.value as choice.label for choice in indicator.select" bs-select> </button>
        </div>

        <div class="panel-footer" ng-if="indicator.notes" ng-repeat="note in indicator.notes" ng-controller="NoteCtrl">
            {{note.text}}
            <strong ng-if="note.value">{{note.value}}</strong>
        </div>
    </div>
</div>
