<div class="header col-md-2" ng-if="instance">
    <div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-50" bs-affix bs-scrollspy-list="">
        <ul class="nav bs-sidenav">
            <li bs-scrollspy="" data-target="#{{axe}}" ng-repeat="(axe, values) in array">
                <a href="#{{axe}}" du-smooth-scroll>{{ labels[axe] }}</a>
                <ul class="nav">
                    <li bs-scrollspy="" data-target="#{{axe}}-{{category}}" ng-repeat="(category, indicators) in values | groupBy: 'section'">
                        <a href="#{{axe}}-{{category}}" du-smooth-scroll>{{ labels[category] }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-10">
    <div class="bs-docs-section" ng-if="instance">
        <div class="row" ng-repeat="(axe, values) in array">
            <h1 id="{{axe}}" class="page-header">{{ labels[axe] }}</h1>
            <div ng-repeat="(category, indicators) in values | groupBy: 'section'">
                <div class="row">
                    <h2 id="{{axe}}-{{category}}">{{ labels[category] }}</span></h2>
                    <panel indicator="i" ng-repeat="i in indicators | orderBy:'order'"></panel>
                </div>
            </div>
        </div>
    </div>
</div>
